<h2>Tuntien syöttö</h2>

<br />

<h3 class="centered-text" data="<%= @today.cweek %>" id="week_header">Viikko <%= @today.cweek %></h3>

<br />

<a class="btn pull-left" onclick="previous_week()"><i class="icon-arrow-left"></i> Edellinen viikko</a>
<a class="btn pull-right" onclick="next_week()">Seuraava viikko <i class="icon-arrow-right"></i></a>

<br />
<br />

<div class="work-day tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Maanantai <%= @dates.first %></a></li>
		<li><a href="#tab2" data-toggle="tab">Tiistai <%= @dates[1] %> </a></li>
		<li><a href="#tab3" data-toggle="tab">Keskiviikko <%= @dates[2] %></a></li>
		<li><a href="#tab4" data-toggle="tab">Torstai <%= @dates[3] %></a></li>
		<li><a href="#tab5" data-toggle="tab">Perjantai <%= @dates[4] %></a></li>
		<li><a href="#tab6" data-toggle="tab">Lauantai <%= @dates[5] %></a></li>
		<li><a href="#tab7" data-toggle="tab">Sunnuntai <%= @dates[6] %></a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<div class="worksite pull-left">
				<table class="table no-highlight work-day" data-date="<%= @dates.first %>">
					<tbody>
						<tr>
							<td>Työnumero</td>
							<td><input type="text" placeholder="Työnumero" class="input-mini" class="hours-input" /></td>
						</tr>
						<tr>
							<td>Tunnit</td>
							<td><input type="text" placeholder="tunnit" class="input-mini" class="hours-input" /></td>
						</tr>
						<tr>
							<td>Kilometrit</td>
							<td><input type="text" placeholder="kilometrit" class="input-mini" class="kiloms-input" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="clear-both ">
			<input type="button" class="btn btn-large" value="Lisää työmaa" />
			<input type="button" class="btn btn-large" value="Tallenna päivän tunnit" />
			</div>
		</div>
		
		<div class="tab-pane" id="tab1">
			
		</div>
		<div class="tab-pane" id="tab2">
			
		</div>
		<div class="tab-pane" id="tab3">
			
		</div>
		<div class="tab-pane" id="tab4">
			
		</div>
		<div class="tab-pane" id="tab5">
			
		</div>
		<div class="tab-pane" id="tab6">
			
		</div>
		<div class="tab-pane" id="tab7">
			
		</div>
	</div>
</div>

<input type="hidden" value="<%= @year %>" id="year_input" />

<script>
	function previous_week() {
		var week = $("#week_header").attr("data");
		week = parseInt(week);
		
		var year = $("#year_input").val();
		year = parseInt(year);
		
		if (week == 1) {
			year = year-1;
			week = 52;
		} else {
			week = week-1;
		}
		
		window.location= "/tuntien_syotto/?week="+week+"&year="+year
	}
	
	function next_week() {
		var week = $("#week_header").attr("data");
		week = parseInt(week);
		
		var year = $("#year_input").val();
		year = parseInt(year);
		
		if (week == 52) {
			year = year+1;
			week = 1;
		} else {
			week = week+1;
		}
		
		window.location= "/tuntien_syotto/?week="+week+"&year="+year
	}
	
	function show_weekend () {
		$("#weekend-table").fadeIn();
		$("#weekend-hide-btn").fadeIn();
	}
	
	function hide_weekend () {
		$("#weekend-table").fadeOut();
		$("#weekend-hide-btn").fadeOut();
	}
</script>
