<div>
	<h2><%= @job.name%></h2>
	
	<br />
	
	<div>
		<%= @job.address.street %> <br />
		<%= @job.address.zip %>, <%= @job.address.city %> <br />
	</div>
	
	<br />
	
	<h3>Tehdyt tunnit</h3>
	
	<br />
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tekijä</th>
				<th>Määrä</th>
				<th>Päivämäärä</th>
			</tr>
		</thead>
	</table>
	
	<h3>Kulutetut tarvikkeet</h3> 
	
	<br />
	
	<div class="btn btn-large" id="add_jobitems_btn" onclick="enable_jobitem_adding()">Lisää tarvikkeita</div>
	
	<br />
	<br />
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>S-numero</th>
				<th>Nimi</th>
				<th>Määrä</th>
				<th>Yksikkö</th>
			</tr>
		</thead>
		
		<tbody id="jobitems_tbody">
			<% @job.job_items.each do |job_item| %>
				<tr>
					<td><%= job_item.item.product_no %></td>
					<td><%= job_item.item.name %></td>
					<td><%= job_item.amount %></td>
					<td><%= job_item.item.unit_of_measurement %></td>
				</tr>
			<% end %>
		</tbody>
		
		
	</table>
</div>

<script>
	var adding_enabled = false;
	
	function enable_jobitem_adding() {
		if (!adding_enabled) {
			html = "<tr class='adding_inputs_row'>\
						<td><input type='text' id='product_no_inp' placeholder='S-numero' class='input-large' /></td>\
						<td><input type='text' id='name_inp' placeholder='Nimi' class='input-xlarge' /></td>\
						<td><input type='text' id='count_inp' placeholder='Määrä' class='input-medium' /></td>\
						<td><input type='text' id='unit_inp' class='disabled' placeholder='Yksikkö' class='input-medium' /></td>\
					</tr>\
					<tr class='adding_inputs_row'>\
						<td><div class='btn btn-large'>Lisää tuote</div></td>\
						<td><div class='btn btn-large' onclick='disable_jobitem_adding()'>Lopeta lisääminen</div></td>\
						<td></td>\
						<td></td>\
					</tr>";
				
			$("#jobitems_tbody").append(html);
			$("#add_jobitems_btn").addClass("disabled");
		}
		adding_enabled = true;
	}
	
	function disable_jobitem_adding() {
		if (adding_enabled) {
			$(".adding_inputs_row").fadeOut();
			setTimeout(function() {
				$(".adding_inputs_row").remove();
				adding_enabled = false;
				$("#add_jobitems_btn").removeClass("disabled");
			}, 600);
		}
	}
</script>
