<!DOCTYPE html>
<html>
<head>
  <title>Erppi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    	<div class="container">
	 
	      	<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</a>
	 
	      	<!-- Be sure to leave the brand out there if you want it shown -->
	      	<a class="brand" href="#">T&P Erppi</a>
	 
	      	<!-- Everything you want hidden at 940px or less, place within here -->
	      	<div class="nav-collapse">
	      		<ul class="nav">
	      			<li><a href="/tyolista">Työlista</a></li>
	      			<li><a href="/laskutus">Laskutus</a></li>
	      			<li><a href="/palkanmaksu">Palkanmaksu</a></li>
	      		</ul>
		        <!-- .nav, .navbar-search, .navbar-form, etc -->
	    	</div>
 
    	</div>
  	</div>
</div>


<div class="container">
	<% unless flash[:notice].nil? %>
		<div class="row">
			<div class="span12 alert alert-info">	
				<%= flash[:notice]%>
			</div>
		</div>
	<% end %>
	
	<% unless flash[:alert].nil? %>
		<div class="row">
			<div class="span12 alert alert-success">	
				<%= flash[:alert] %>
			</div>
		</div>
	<% end %>
			
	<% unless flash[:error].nil? %>
		<div class="row">
			<div class="span12 alert alert-error">	
				<%= flash[:alert] %>
			</div>
		</div>
	<% end %>
	
	
	<div class="row">
		<div class="span12 content-area">
			<%= yield %>	
		</div>
	</div>
</div>


</body>
</html>
